
/*============================================================================
 ==============Responsive Design starts here==================================
 =========================================================================== */


 @media screen and (max-width:768px) {

/*======================== Header section starts here=============== */
/*======================== Header section starts here=============== */
.solar_system{
    display: none;
}
#myNav{
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 100px;         
}
#logo{
    margin-left: 35px;
    font-size: 30px !important;
}  
.nav-link{
    text-align: center;
    background-color: rgb(1, 0, 36);
    border: 1px solid white !important;
    margin-bottom: 10px;
    border-radius: 10px;
    transition:  .5s;
}  
.nav-link:hover{
    transform: scale(.95);
    transition:  .5s;
    color: orangered !important;
}
    
    
/*========================Section 1 starts here=============== */    
/*========================Section 1 starts here=============== */  
.section1{
    margin-top: 150px;
    display: block;
    align-items: center;
    justify-content: center;
}  
.social_link{
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 250px;
  
}
.social_link i{
    padding: 5px !important;
    margin: 5px !important;
}
.social_link .fa-brands{
    margin-bottom: 20px;
    margin-left: 20px;
}   
/* Solar animation here */
/* Solar animation here */
.solar_system{
    top: 500px;
    z-index: 0;
    opacity: .7;
}
/* Solar animation here */
/* Solar animation here */

.section_1_text{
    justify-content: center;
    align-items: center;
    display: flex;   
}
.section_1_text_para{
    display: block;
    width: 100%;
    position: absolute;
    padding-left: 11%;
    margin-top: 100px;
    text-align: justify;
}
.section_1_text_para .my-button{
   display: flex;
}
.section_1_text_para h1{
    font-size: 35px;
}
.para{
    width: 100%;
}
.section_1_img{
    text-align: center;
    position: none;
}
.section_1_img img{
    width: 100%;
    height: 100%;
}
    
    
/*========================Section 2 starts here=============== */ 
/*========================Section 2 starts here=============== */  
.section2{
    margin-top: -100px;
    margin-bottom: 100px;
}
    
.card{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
    
    
/*========================Section 3 starts here=============== */  
/*========================Section 3 starts here=============== */  
.section3_aboutMe{
    display: block;
}
.section3_img img{
    width: 100%;
    height: 100%;
}
.section3_img{
    text-align: center;
}
.section3-text{
    margin-top: 50px;
}
    
    
/*========================Section 4 starts here=============== */ 
/*========================Section 4 starts here=============== */   
.section4{
    display: block;
}   
.section4_text{
    width: 100%;
    margin-left: 17px;
}
.skill-container{
    padding: 0;
    width: 100%;
    margin-left: -20px;
}
    

/*========================Section 5 starts here=============== */
/*========================Section 5 starts here=============== */    
.section5_portfolios{
    display: block;
    height: auto;
    padding: 0;
    
}
.section5_portfolios .card{
    margin-bottom: 50px;
}

       
/*========================Section 6 starts here=============== */ 
/*========================Section 6 starts here=============== */ 
.section6Div2 .card{   
margin-bottom: 50px !important;
}


/*========================Section 7 starts here=============== */ 
/*========================Section 7 starts here=============== */   
.contact_icon i{
    font-size: 20px;
    width: 50px;
    height: 50px;      
}
.myIcon2{
    padding-right: 30px !important;
    padding-left: 17px !important;
}
.contact_link{
    margin-top:0px ;
}
.contact_link h6{
    font-size: 15px;
}
      

/*========================Footer starts here=============== */  
/*========================Footer starts here=============== */  
.link2{
    margin: auto;
    margin-left: 0;
    margin-bottom: 50px;
}
.foot{
    margin-bottom: 50px;
}
.foot h2{
    margin-left: 0px;
}
.footer_ul{
    margin-bottom: 50px;
}
.footer_icon{
    margin-left: 0;
}

}
    
    
    
    
    
    
    
    